include LICENSE
include README.rst
recursive-include pretix_waitlist_manager/templates *
recursive-include pretix_waitlist_manager/static *
prune .git
prune .pytest_cache
prune build
prune dist
prune tests
prune pretix_waitlist_manager/.git
prune pretix_waitlist_manager/__pycache__
prune pretix_waitlist_manager.egg-info
global-exclude __pycache__
global-exclude *.py[cod]
global-exclude .DS_Store
